body {
    transform: scale(1.5);
    transform-origin: 0 0;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    width: auto;
}

h2,
h3 {
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.6em;
}

li {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.6em;
}

.l-content {
  margin: 0 auto;
}

.l-box {
  padding: 0.5em 2em;
}

.pure-menu {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.pure-menu-link {
  padding: 0.5em 0.7em;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  background: transparent
    url("https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_1280.jpg")
    0 0 no-repeat fixed;
  text-align: center;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_1280.jpg', sizingMethod='scale');
  height: 200px;
  width: 100%;
  margin-bottom: 3em;
}

.banner-text {
  background: rgba(255, 255, 255, 0.75);
  padding: 0rem 2rem;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.banner-head {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2em;
  color: #000000;
  font-weight: 1000;
}

.project-tables, .information {
  max-width: 980px;
  margin: 0 auto;

}
.project-tables {
  margin-bottom: 3.125em;
  text-align: center;
}

.project-table {
  border: 1px solid #ddd;
  margin: 0 0.5em 2em;
  padding: 0 0 3em;
}

.project-table-header {
  background: #111;
  color: #fff;
}
.project-table-header h2 {
  margin: 0;
  padding: 2em;
  font-size: 1.5https://tse4.mm.bing.net/th/id/OIP.dfTBnmEWGU-q07gbLk_5MwHaLH?rs=1&pid=ImgDetMain&o=7&rm=3em;
  font-weight: normal;
}

.project-table-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.project-table-list li {
  padding: 0.8em 0;
  background: #f7f7f7;
  border-bottom: 1px solid #e7e7e7;
}

.button-choose {
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 2em;
  font-weight: bold;
  position: relative;
  bottom: -1.5em;
}

.project-desc {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.project-desc img {
  width: 250px;
  border-radius: 6px;
  flex-shrink: 0;
}

.desc-text {
  max-width: 600px;
}

.information-head {
  color: black;
  font-weight: 500;
}

@media (min-width: 767px) {
  .banner-head {
    font-size: 4em;
  }
  .pricing-table {
    margin-bottom: 0;
  }
}

@media (min-width: 480px) {
  .banner {
    height: 400px;
  }
  .banner-head {
    font-size: 3em;
  }
}

.pure-menu .pure-button,
.pure-menu .pure-menu-link {
  text-transform: none;
  letter-spacing: normal;
  transition: letter-spacing 0.2s ease;
}

.pure-menu .pure-button:hover,
.pure-menu .pure-menu-link:hover {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

html {
  scroll-behavior: smooth;
}
